<html>

<head>
    <style>
        table,
        td,
        th {
            border: 1px solid;
            text-align: center;
            font-family: 'Times New Roman', Times, serif;
            font-size: large;
            
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        td {
            font-size: medium;
            padding: 5px;
        }
    </style>
</head>

<body>

    <br /><br />
    <table style="width:100%">

        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Telephone</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>E-Mail</th>
            <th>URL</th>
            <th>Review</th>
            <th>Liked</th>
            <th>Recommendation</th>
            <th>Interest</th>
            <th>Date Of Survey</th>
        </tr>

        <tr *ngFor="let user of users">

            <td>
                {{user.name}}
            </td>
            <td>
                {{user.address}}
            </td>
            <td>
                {{user.telephone}}
            </td>
            <td>
                {{user.city}}
            </td>
            <td>
                {{user.state}}
            </td>
            <td>
                {{user.zip}}
            </td>
            <td>
                {{user.email}}
            </td>
            <td>
                {{user.url}}
            </td>
            <td>
                {{user.review}}
            </td>
            <td>
                {{user.liked}}
            </td>
            <td>
                {{user.recommendation}}
            </td>
            <td>
                {{user.interest}}
            </td>
            <td>
                {{user.dos}}
            </td>
        </tr>
    </table>

</body>

</html>